<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Cities</title>
</head>
<body>


<div class="container-fluid">
    <div class="col-md-8">
    <h3 style="color: orange; text-align: center">List of Cities</h3>
    <br>
    <div class="row">
        <a th:href="@{/create}" class="btn btn-primary">Create new city</a>
    </div>
    <br>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="city : ${cities}">
                <tr>
                    <th scope="row" th:text="${city.id}"></th>
                    <td><a th:href="@{/detail/__${city.id}__}" th:text="${city.name}"></a></td>
                    <td th:value="${city.country.id}" th:text="${city.country.name}"></td>
                    <td><a th:href="@{/edit/__${city.id}__}">Edit</a></td>
                    <td><a th:href="@{/delete-city/__${city.id}__}">Delete</a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>